[flake8]
max-line-length = 176
exclude =
    ./docs/
    ./tests/
    ./.venv*/
    .git

per-file-ignores =
    */__init__.py: F401
    # Init versions for alembic
    migrations/alembic/versions/*: W291
    # FastAPI dependencies
    backend/routers/*: B008
    backend/dependencies/*: B008